<ion-view view-title="Home">
  <ion-content>
    <div class="list card green">
      <a href="#/app/data" class="item item-icon-left">
        <i class="icon ion-document-text"></i>
        Data
      </a>
    </div>
    <div class="list card blue">
      <a href="#/app/map" class="item item-icon-left">
        <i class="icon ion-map"></i>
        Google Map
      </a>
    </div>
    <div class="list card red">
      <a href="#/app/chart" class="item item-icon-left">
        <i class="icon ion-stats-bars"></i>
        Chart
      </a>
    </div>
  </ion-content>
</ion-view>
